@model List<User>


<div class="search-container">
    @* @using (Html.BeginForm("Search", "ATM", FormMethod.Get))
    {
        <input type="text" name="searchTerm" placeholder="Search...">
        <button type="submit">Search</button>
    } *@
    <input type="text" id="searchInput" placeholder="Search...">
    <button id="searchButton">Search</button>
</div>
<br />
<div id="gridViewId" class="grid-view">

    <table id="gridView" class="grid-table">
        <thead>
            <tr>
                <th class="column-header" data-column="id">Id</th>
                <th class="column-header" data-column="name">Name</th>
                <th class="column-header" data-column="cardnumber">CardNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="grid-row" data-id="@user.ID">
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.CardNumber</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        <ul class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="?page=1">First</a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="?page=@ViewBag.TotalPages">Last</a>
            </li>
        </ul>
    </div>

</div>
<br />
<input type="password" id="pinInput" />
<button id="validateButton">Validate</button>
<div id="errorContainer"></div>

